/* .open__new__acc__container {
  background: red;
  display: flex;
  justify-content: center;
} */

.open__new__acc__options {
  margin: 2%;
  /* display: flex; */
}

.open__new__acc__options button {
  margin: 1%;
}