.menu__header__container {
  display: flex;
  justify-content: space-around;
  /* background: #5AC18E; */
  /* padding: 0.5% 1%; */
}

a {
  margin: 1%;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.menu__links {
  display: flex;
  justify-content: flex-end;
}

.menu__links a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  flex: 1;
}